<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/galleryctrl.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles/style.css">
    <title>Weekend Challenge 4</title>
  </head>
  <body ng-app="galleryApp">
    <!-- using 'controller as' syntax -->
    <h1>The Gallery of My Life!</h1>
    <div ng-controller="GalleryController as gc" class"outerDiv">

        <div ng-repeat="image in gc.imgArray" ng-click="gc.toggle()" class="imgDiv">
          <img ng-src="{{image.src}}" ng-hide="gc.flip"/>
            <button class="likes" ng-click="{{}}">Likes</button>
        </div>

    </div>
    <!-- end controller div -->
  </body>
</html>
